.estilo-categoria-titulo{
    color: orange;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

/*menu tienda*/
.estilo-input{
    border: none !important;
    background-color: transparent !important;
}
.lista-menu-tienda{
   text-align: center !important;
   color: #444444;
   font-size: 18px;
  padding: 5px 14px !important;
}
.lista-menu-tienda:hover{
   text-align: center !important;
   font-weight: bold ;
   color: #444444;
    font-size: 18px;
   padding: 5px 14px !important;
}
.lista-menu-tienda:active{
   text-align: center !important;
   font-weight: bold !important;
   color: #444444;
    font-size: 18px;
   padding: 5px 14px !important;
}
.lista-menu-tienda:focus{
   text-align: center !important;
   font-weight: bold;
   color: #444444;
    font-size: 18px;
   padding: 5px 14px !important;
}
.size-cart{
    font-size: 26px !important;
    color: white;
}
.size-cart:hover{
    font-size: 26px !important;
    color: #444444;
}
.sin-borde-li{
    border-bottom: 1px solid transparent !important;
}
.li-separation-cart{
    padding: 0 28px !important;
    margin-top: 40px !important;
    margin-right: -19px;
}
.li-separation{
    padding: 0 28px !important;
    margin-top: 40px !important;

}

.menu-tienda{
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif !important;
    color: white !important;
    padding: 0 23px !important;
}
.menu-tienda:hover{
    font-weight: bold !important;
    font-size: 20px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif !important;
    color: #444444 !important;
    background-color: transparent !important;
    padding: 0 23px !important;
}
.menu-tienda:focus{
    font-weight: bold !important;
    font-size: 20px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif !important;
    color: white !important;
    background-color: transparent !important;
    padding: 0 23px !important;
}
.menu-tienda:active{
    font-weight: bold !important;
    font-size: 20px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif !important;
    color: white !important;
    background-color: transparent !important;
    padding: 0 23px !important;
}
/*Fin menu tienda*/
.pagos{
    padding-top: 5px;
}
.icono-usuario{
    font-size: 42px;
    padding-top: 15px;
}

.estilo-estadistica{
font-family: Tahoma, Verdana, Segoe, sans-serif;
color: #444444 !important;
font-size: 18px;
text-align: center;
}
.fondo-paneles{
  background-color: #F9F9F9 !important;
}
.producto-vendido{
    color: #FD9C1C !important;
    font-weight: bold !important;
    font-size: 22px;
    text-align: center;
}

.back-conocenos{
    background-color: #FD9C1C;
    padding: 100px 0 0 0 !important;
    height:100%;
}

.texto-eliminar{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 18px;
    color: #444444;

}
.logo-portada{
    margin-bottom: 10%;
}
.without-radius{
    resize: none;
    border-radius: 0px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.type-font{
   font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.titulos-secciones{
   font-family: Tahoma, Verdana, Segoe, sans-serif;
   color: #A4BD31;
   font-weight: bold;
   font-size: 48px !important;
}
.titulo-categorias-tienda{
   font-family: Tahoma, Verdana, Segoe, sans-serif;
   color: #444444;
   font-weight: bold;
   font-size: 28px !important;
   text-align: center;
   margin-top: 10px;
}
.menutext{
    background-color: white !important;
    margin-top: 0; 
    margin-bottom: 0;
    border: 0;
    
}
.menutext2 {
    color: #83A40D !important;
    content:          "";
    height:           1px;
    left:             0;
    background: #444;
    width:            30%;
    margin-top: -4px !important;
    text-align: center;
    border-top: 2px solid #444444;
    
}
.navbar-width {
    min-height: 120px !important;
    background-color: #FD9C1C !important;
    border: none !important;

}
.sidebar-height{
    margin-top: 120px !important;
}
.estilo-logo{
    width: 90px !important;
}
.color-degradado{
    margin-left: 0 !important;
    margin-right: 0 !important;   
    padding: 10px 0 !important;
    position:absolute; /*El div ser치 ubicado con relaci칩n a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
    z-index:0;
    background: -moz-linear-gradient(45deg, rgba(253,156,28,1) 0%, rgba(253,156,28,1) 57%, rgba(139,179,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(253,156,28,1)), color-stop(57%, rgba(253,156,28,1)), color-stop(100%, rgba(139,179,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(253,156,28,1) 0%, rgba(253,156,28,1) 57%, rgba(139,179,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(253,156,28,1) 0%, rgba(253,156,28,1) 57%, rgba(139,179,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(253,156,28,1) 0%, rgba(253,156,28,1) 57%, rgba(139,179,0,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(253,156,28,1) 0%, rgba(253,156,28,1) 57%, rgba(139,179,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8BB300', endColorstr='#FD9C1C',GradientType=1 ); /* ie6-9 */
}
    #fixed-bar {
    background: -moz-linear-gradient(45deg, rgba(253,156,28,1) 0%, rgba(253,156,28,1) 57%, rgba(139,179,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(253,156,28,1)), color-stop(57%, rgba(253,156,28,1)), color-stop(100%, rgba(139,179,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(253,156,28,1) 0%, rgba(253,156,28,1) 57%, rgba(139,179,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(253,156,28,1) 0%, rgba(253,156,28,1) 57%, rgba(139,179,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(253,156,28,1) 0%, rgba(253,156,28,1) 57%, rgba(139,179,0,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(253,156,28,1) 0%, rgba(253,156,28,1) 57%, rgba(139,179,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8BB300', endColorstr='#FD9C1C',GradientType=1 ); /* ie6-9 */
    padding: 10px 0 !important;
    bottom: 0;
    height: 10px;
    padding: 13px 0 4px;
    position: fixed;
    width: 100%;
    z-index: 5000;
    margin-left: 0 !important;
    margin-right: 0 !important;   
}
.row-white{
    padding: 10px 0;
    background-color: white;
    margin-left: 0 !important;
    margin-right: 0 !important;
    color: #FFF;
    position:absolute; /*El div ser치 ubicado con relaci칩n a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:15px; /*Abajo deje un espacio de 0px*/
    z-index:0;
}
.body-diseno{
    height: 100;
}
.body-gris{
    background-color: #F9F9F9 !important;
}
.lista-menu{
    text-align: center !important;
    color: #444444;
    font-size: 18px;
    padding: 20px 15px !important;
}
.titulo-categoria{
 font-family: Tahoma, Verdana, Segoe, sans-serif;
 font-size: 25px !important;
 color: #FD9C1C !important;
 font-weight: bold !important;
  padding: 10px 10px !important;
}

.lista-menu:hover{
    color: #FD9C1C;
}
.lista-categoria{
    color: #444444 !important;
    font-size: 25px !important;
    padding: 10px 10px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif !important;
}
.lista-categoria:hover{
    background-color: transparent !important;
    padding: 10px 10px !important;
    color: #444444 !important;
    font-size: 25px !important;
    font-weight: bold !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif !important;
}
.margen-elementos{
    margin-top: 30px;
    margin-bottom: 10px;
}
.glyphicon {
    top: 0px !important;
}

.tabla-est{
font-family: font-family: Tahoma, Verdana, Segoe, sans-serif;
font-size: 10px;
}
.tabla-estadisticas{
    background-color: #FD9C1C;
    font-family: font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 13px;
    color: white;
    text-align: center;
}
.encabezados-tabla{
    background-color: #FD9C1C;
    font-family: font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.input-buscar{
    background-color: #f9f9f9 !important;
    border: none !important;
    border-radius: 0px !important;
}
.estilo-user{
    color: #ffffff !important;
    font-size: 20px !important;
    font-family: font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: bold !important;
}
.estilo-user:hover{
    background-color: #FD9C1C !important;
    border-color: #FD9C1C !important;
    color: white !important;
    font-size: 20px !important;
    font-family: font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: bold !important;
}
.estilo-user:focus{
    background-color: #FD9C1C !important;
    border-color: #FD9C1C !important;
    color: white !important;
    font-size: 20px !important;
    font-family: font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: bold !important;
}
.estilo-list-user{
    top: 64% !important;
    background-color: #EA881E !important;
    color: white !important;
    font-size: 20px !important;
    font-family: font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.estilo-lista{
    font-size: 14px !important;
    color: white !important;
    font-family: font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.bajar-barra{
        margin-top: 40px !important;
}
.bajar-barra2{
        margin-top: -17px !important;
}
.bajar-barra-nav2{
        margin-top: 100px !important;
}
.estilo-lista:hover{
    background-color: #FD9C1C !important;
    font-size: 14px !important;
    color: white !important;
    font-family: font-family: Tahoma, Verdana, Segoe, sans-serif;
}
/*Modales*/
.cuerpo-modal{
    background-color: #FD9C1C !important;
    font-family: font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.cuerpo-modal-eliminar{
    background-color: #ffffff !important;
    font-family: font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.inferior-modal{
     background-color: #FD9C1C !important;
    border-top: 1px solid #FD9C1C !important;
}
.inferior-modal-eliminar{
     background-color: #ffffff !important;
    border-top: 1px solid #ffffff !important;
    text-align: center !important;
}
.encabezado-modal{
    background-color: #444444 !important;
}
.titulo-modal{
    background-color: black;
    font-size: 21px !important;
    color: #444444;
    font-weight: bold;
    line-height: 0px !important;
}
.titulo-modal-eliminar{
    text-align: center;
    font-size: 21px !important;
    color: #ffffff;
    font-weight: bold;
    line-height: 0px !important;
}
.contenido-modal {
    border: 1px solid black !important;
    border-radius: 0px !important;
}
.encabezado-modal{
    border-bottom: 1px solid #000000 !important;
}
/*Botones*/
.btn-naranja-modal{
    color: #ffffff;
    font-weight: bold !important;
    background-color: #FD9C1C !important;
    border-color: #FD9C1C !important;
    border-radius: 0px !important;
    padding: 8px 22px !important;
    font-size: 16px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;

}

.btn-naranja-modal:hover{
    color: #ffffff;
    font-weight: bold !important;
    background-color: #EA881E !important;
    border-color: #EA881E !important;
    border-radius: 0px !important;
    padding: 8px 22px !important;
    font-size: 16px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;

}
.btn-verde-confi{
    margin-bottom: 20px !important;
    color: #ffffff;
    font-weight: bold !important;
    background-color: #A4BD31 !important;
    border-color: #A4BD31 !important;
    border-radius: 0px !important;
    padding: 8px 22px !important;
    font-size: 16px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;

}
.btn-verde-confi:hover{
    margin-bottom: 20px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    background-color: #83A40D !important;
    border-color: #83A40D !important;
    border-radius: 0px !important;
    padding: 8px 22px !important;
    font-size: 16px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.btn-verde-modal{
    color: #ffffff;
    font-weight: bold !important;
    background-color: #A4BD31 !important;
    border-color: #A4BD31 !important;
    border-radius: 0px !important;
    padding: 8px 22px !important;
    font-size: 16px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;

}
.btn-verde-modal:hover{
    color: #ffffff !important;
    font-weight: bold !important;
    background-color: #83A40D !important;
    border-color: #83A40D !important;
    border-radius: 0px !important;
    padding: 8px 22px !important;
    font-size: 16px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.btn-verde-modal2{
    width: 250px !important;
    color: #ffffff;
    font-weight: bold !important;
    background-color: #A4BD31 !important;
    border-color: #A4BD31 !important;
    border-radius: 0px !important;
    padding: 8px 50px !important;
    font-size: 16px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;

}
.btn-verde-modal2:hover{
    width: 250px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    background-color: #83A40D !important;
    border-color: #83A40D !important;
    border-radius: 0px !important;
    padding: 8px 50px !important;
    font-size: 16px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.btn-verde{
    color: #ffffff;
    font-weight: bold !important;
    background-color: #A4BD31 !important;
    border-color: #A4BD31 !important;
    border-radius: 0px !important;
    padding: 8px 22px !important;
    font-size: 24px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;

}
.btn-verde:hover{
    color: #ffffff !important;
    font-weight: bold !important;
    background-color: #83A40D !important;
    border-color: #83A40D !important;
    border-radius: 0px !important;
    padding: 8px 22px !important;
    font-size: 24px !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.btn-crud{
    color: #ffffff;
    font-weight: bold;
    background-color: #A4BD31 !important;
    border-color: #A4BD31 !important;
    border-radius: 0px !important;
    /*padding: 8px 22px !important;*/
    font-size: 16px !important;
} 
.bote
{
    background-image: url('../img/bote.png');
    width: 50px;
    height: 50px;
}
.btn-crud:hover{
    color: #ffffff !important;
    font-weight: bold;
    background-color: #83A40D !important;
    border-color: #83A40D !important;
    border-radius: 0px !important;
    /*padding: 8px 22px !important;*/
    font-size: 16px !important;
    
}
.btn-crud:active{
    color: #ffffff !important;
    font-weight: bold;
    background-color: #83A40D !important;
    border-color: #83A40D !important;
    border-radius: 0px !important;
    /*padding: 8px 22px !important;*/
    font-size: 16px !important;
    
}
.btn-crud:focus{
    color: #ffffff !important;
    font-weight: bold;
    background-color: #83A40D !important;
    border-color: #83A40D !important;
    border-radius: 0px !important;
    /*padding: 8px 22px !important;*/
    font-size: 16px !important;
    
}
.btn-buscar{
    background-color: #eaeaea !important;
    color: #7A7A7A !important;
}
.btn-buscar:hover{
    background-color: #eaeaea !important;
    color: #FD9C1C !important;
}